{
  "apps": [
    {
      "script": "app.js",
      "name": "GraphQL",
      "instances": "max",
      "watch": false,
      "env": {
        "NODE_ENV": "production",
        "PORT": 4000,
        "REDIS_PORT": 16379,
        "MONGODB_URL": "mongodb://localhost:27017",
        "ELASTICSERCH_HOST": "37.97.189.174:9200",
        "ELASTICSERCH_INDEX": "discogs",
        "SPORTRADAR_TOKEN": "key",
        "STATIC_URL": "http://localhost:4000",
        "APOLLO_ENGINE_KEY": ""
      }
    }
  ]
}

